*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(./imagens/tijolos.png);
    margin: 0;
    padding: 0;
    background-color: #BF8F73;
}
.navcell{
    display: none;
    background: rgba(140, 66, 39, 0.61);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(140, 66, 39, 1);
    text-align: center;
    width: 80px;
    height: 40px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    justify-content: center;
    flex-direction: column;
    transition: 300ms;
    border-radius: 30px 30px 0px 0px;
    z-index: 1;
}
.navcell:hover{
    height: 200px;
    width: 150px;
}
.navcell:hover a{
    display: block;
}
.navcell p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}
.navcell:hover p{
    display: none;
}
.navcell:hover ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navpc{
    background: rgba(140, 66, 39, 0.61);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(140, 66, 39, 1);
    text-align: center;
    width: 30px;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 20%;
    height: 50%;
    transition: 300ms;
    border-radius: 30px 0px 0px 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    z-index: 1;
}
.navpc:hover{
    width: 200px;
}
.navpc:hover a{
    display: block;
}
.navpc p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    rotate: 90deg;
}
.navpc:hover p{
    display: none;
}
.navpc:hover ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul{
    padding: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}
li{
    padding: 0;
    margin: 5%;
}
a{
    text-decoration: none;
    color: white;
    display: none;
    font-size: large;
}
header{
    background-image: url(./imagens/headersid.png);
    background-position: center;
    background-size: cover;
    padding: 4%;
    height: 100vh;
}
header div{
    background: rgba(140, 66, 39, 0.61);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(140, 66, 39, 1);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
header h1{
    margin: 0;
    color: #BF8F73;
}
header hr{
    width: 50%;
    margin: 30px;
    border: 1px solid #BF8F73;
}
header p{
    font-size: 1.5rem;
    color: #BF8F73;
    text-align: center;
    margin: 0;
}
main{
    width: 80%;
    margin: auto;
}

section{
    background: rgba(140, 66, 39, 0.61);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(140, 66, 39, 1);
    padding: 30px;
    margin: 30px;
}
#artista{
    display: flex;
    justify-content: space-around;
}
#artista img{
    height: 500px;
    border: 2px solid rgba(140, 66, 39, 1); 
}
section img{
    border-radius: 30px;
    border: 1px solid rgba(140, 66, 39, 1);
    margin: 30px;
}
p{
    font-size: large;
    color: #260505;
}
h1{
    font-size: 35px;
    text-align: center;
    color: #260505;
}
footer{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background-color: black;
}
.celular{
    display: none;
    height: 200px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.monitor{
    height: 100%;
    width: auto;
}
video{
    height: 600px;
    width: 100%;
}
footer p{
    margin:  1%;
    font-size: 1em;
    color: white;
    margin-bottom: 8px ;
}
/*faça o site responsivo*/
@media screen and (max-width: 800px){
    main{
        width: 100%;
        margin: auto;
    }    
    .navpc{
        display: none;
    }
    .navcell{
        display: block;
    }
    .celular{
        display: block;
    }
    .monitor{
        display: none;
    }
    a{
        font-size: 15px;
    }
    header{
        height: 40vh;
    }
    header div{
        font-size: 1.5rem;
    }
    header h1{
        font-size: 2rem;
    }
    header hr{
        width: 80%;
    }
    header p{
        font-size: 1rem;
    }
    section{
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
    section img{
        margin: 0;
    }
    video{
        height: 250px;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    .textofooter{
        text-align: center;
    }
}