*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(./imagens/fundo.jpg);
    background-attachment: fixed;
    animation: fundo 10s infinite linear;
}
.navcell{
    display: none;
    background-color: #bf1a29;
    text-align: center;
    width: 80px;
    height: 40px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: 300ms;
    border-radius: 30px 30px 0px 0px;
}
.navcell:hover{
    height: 200px;
    width: 150px;
}
.navcell:hover a{
    display: block;
}
.navcell p{
    rotate: 90deg;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}
.navcell:hover p{
    display: none;
}
.navpc{
    background-color: #bf1a29;
    text-align: center;
    width: 30px;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 20%;
    height: 50%;
    transition: 300ms;
    border-radius: 30px 0px 0px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navpc:hover{
    width: 200px;
}
.navpc:hover a{
    display: block;
}
.navpc p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}
.navpc:hover p{
    display: none;
}
ul{
    padding: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    padding: 0;
    margin: 0;
    margin: 30px;
}
a{
    text-decoration: none;
    color: white;
    display: none;
    font-size: large;
}
header{
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
section{
    padding: 30px;
    width: 80%;
    height: auto;
    margin: auto;
    background-color: #fffefe;
    border: 5px solid #bf1a29;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#maps iframe{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 700px;
}

.campus{
    float: right;
    border: 3px solid #bf1a29;
    border-radius: 30px;
    width: 40%;
    margin-left: 30px;
    margin-bottom: 30px;
}

footer{
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    width: 100%;
    text-align: center;

}
footer p{
    color: white;
}
table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;

}
th{
    border: 1px solid black;
    padding: 2%;
    text-align: center;

}
td{
    border: 1px solid black;
    padding: 2%;
    padding-right: 30px;
    text-align: center;

}
td img{
    width: 80%;

}
.comprar{
    background-color: white;
    transition: background-color 0.5s;
}
.comprar:hover{
    background-color: #bf1a29;
    color: white;
}
:root{
    scroll-behavior: smooth;
}
button{
    background-color: #bf1a29;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s;
}
button:hover{
    background-color: white;
    color: #bf1a29;
}

.botaohead{
    margin: auto;
    box-sizing: border-box;
    margin-top: 60px;
    margin-bottom: 50px;
}
.botaohead button{
    animation: balanco 5s infinite;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    transition: width 0.5s, height 0.5s;
}
.botaohead button:hover{
    width: 170px;
    height: 60px;
}

.imghead{
    margin: auto;
    box-sizing: border-box;
}
.imghead img{
    width: 30%;
    animation: rotate 5s infinite;
}


@keyframes fundo{
    0%{
        background-position:0%;
    }
    100%{
        background-position:0% 100%;
    }
}

@media screen and (max-width: 900px){
    section{
        width: 100%;
    }
    table{
        display: block;
        overflow-x: auto;
    }
    header{
        display: block;
        height: 30vh;
    }
    nav{
        display: none;
    }
    .navpc{
        display: none;
    }
    .navcell{
        display:block;
        position: fixed;
    }
    .campus{
        float: none;
        width: 100%;
        margin-left: 0;
    }
    .botaohead{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .imghead{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .imghead img{
        width: 50%;
    }
    .botaohead button{
        width: 150px;
        height: 50px;
    }
}